<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black wolf</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="brand-logo">
            <img src="../images/logo.png" alt="Ninja">
        </div>
        <div class="nav">
            <a href="../index.html">Home</a>
            <a href="services.html">Services</a>
            <a href="explore.html">Explore</a>
            <a href="contact.html">Contact Us</a>
        </div>
    </nav>
    <div class="main">
        <form method="post" class="div">
                <div class="form">
                    <input placeholder="Enter your name" type="text">
                    <input placeholder="Enter your email" type="email">
                    <input placeholder="Enter your phone number" type="let">
                    <textarea cols="30" rows="10" placeholder="Enter your Massage"></textarea>
                    <button type="submit">Send</button>
                </div>
        </form>
    </div>
</body>
</html>