<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black wolf</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="brand-logo">
            <img src="../images/logo.png" alt="Ninja">
        </div>
        <div class="nav">
            <a href="../index.html">Home</a>
            <a href="services.html">Services</a>
            <a href="explore.html">Explore</a>
            <a href="contact.html">Contact Us</a>
        </div>
    </nav>
    <div class="main">
        <div class="row">
            <div class="card">
                <div class="card-img">
                    <img src="../images/taj_mahal.jpg" class="responsive-img">
                </div>
                <div class="card-title">
                    <h1>Taj Mahal</h1>
                </div>
                <a href="https://earth.google.com/web/@27.17389033,78.04199275,165.4392395a,0d,60y,5h,101t,0r/data=Ci8SLRIgMTA1NDZmMzhmZGM3MTFlNmEyN2MxYjMxZWFiNDNjN2QiCXRhai1tYWhhbCIaChY0V25VajVkOU5hQ24wV2pENHQ2N2pBEAI" class="dark-button">Explore</a>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="../images/pyramid.jpg" class="responsive-img">
                </div>
                <div class="card-title">
                    <h1>Pyramid</h1>
                </div>
                <a href="https://earth.google.com/web/@29.98038852,31.13298254,63.29103851a,0d,60y,130h,111t,0r/data=CjYSNBIgMTA1NDZmMzhmZGM3MTFlNmEyN2MxYjMxZWFiNDNjN2QiEHB5cmFtaWQtb2Yta2h1ZnUiGgoWWU5BYmpmVGNyNWhKaFhCQVJNZXdxZxAC" class="dark-button">Explore</a>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="../images/bigbend.jpg" class="responsive-img">
                </div>
                <div class="card-title">
                    <h1>Bid bend park</h1>
                </div>
                <a href="https://earth.google.com/web/@29.24626721,-103.3032584,2292.38639363a,1720.02930309d,35y,-93.79420628h,54.97816888t,0r/data=CjASLhIgZjE5NDNlZGMyZWQ2MTFlOWFiZTk0NWEzN2RiYmYzMTEiCmdjc19pdGluXzE" class="dark-button">Explore</a>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="../images/light_house.jpg" class="responsive-img">
                </div>
                <div class="card-title">
                    <h1>Light House</h1>
                </div>
                <a href="https://earth.google.com/web/@-28.63874277,153.63629401,76.98440312a,0d,60y,12.49013195h,79.31618986t,0r/data=CjASLhIgNmU5MmUxMGNlZDBmMTFlODhhMTg5ZmRmMTBlYmYxYzIiCmdjc19saXN0XzEiMAosQUYxUWlwTU53M3FDa181eEEzSzMwS20yRldjWDBvU2lGcmZBV1FEOG13SGQQBQ" class="dark-button">Explore</a>
            </div>
         </div>
    </div>
</body>
</html>