<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black wolf</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="brand-logo">
            <img src="../images/logo.png" alt="Ninja">
        </div>
        <div class="nav">
            <a href="../index.html">Home</a>
            <a href="services.html">Services</a>
            <a href="explore.html">Explore</a>
            <a href="contact.html">Contact Us</a>
        </div>
    </nav>
    <div class="main">
        <div class="text-center">
            <h1>Home Traveling</h1>
        </div>
        <div class="cont">
            <div class="row">
                <div class="card">
                    <div class="card-img">
                        <img src="../images/taj_mahal.jpg" class="responsive-img" alt="">
                    </div>
                    <div class="card-title">
                        <h2>Taj Mahal</h2>
                    </div>
                    <p>Construction of the mausoleum was essentially completed in 1643, but work continued on other phases of the project for another 10 years. The Taj Mahal complex is believed to have been completed in its entirety in 1653 at a cost estimated at the time to be around 32 million rupees.</p>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="../images/pyramid.jpg" class="responsive-img" alt="">
                    </div>
                    <div class="card-title">
                        <h2>Pyramid</h2>
                    </div>
                    <p>Civilizations in many parts of the world have built pyramids. The largest pyramid by volume is the Great Pyramid of Cholula, in the Mexican state of Puebla. For thousands of years, the largest structures on Earth were pyramids—first the Red Pyramid in the Dashur Necropolis and then the Great Pyramid of Khufu, both in Egypt—the latter is the only one of the Seven Wonders of the Ancient World still remaining</p>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="../images/bigbend.jpg" class="responsive-img" alt="">
                    </div>
                    <div class="card-title">
                        <h2>Big Bend Park</h2>
                    </div>
                    <p>Big Bend National Park is an American national park located in West Texas, bordering Mexico. The park has national significance as the largest protected area of Chihuahuan Desert topography and ecology in the United States. The park protects more than 1,200 species of plants, more than 450 species of birds, 56 species of reptiles, and 75 species of mammals.[3]</p>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="../images/light_house.jpg" class="responsive-img" alt="">
                    </div>
                    <div class="card-title">
                        <h2>Light House</h2>
                    </div>
                    <p>Lighthouses mark dangerous coastlines, hazardous shoals, reefs, rocks, and safe entries to harbors; they also assist in aerial navigation. Once widely used, the number of operational lighthouses has declined due to the expense of maintenance and has become uneconomical since the advent of cheaper and often much more effective electronic navigational systems.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>